html{
    margin: 0;
    padding: 0;
    background: #ec7819;
    color: rgb(44, 41, 41);
}

body{
    width: 80%;
    margin: 50px auto;
}

header, nav, aside, section, article, footer{
    margin: 10px 0;
    padding: 20px 0;
    text-align: center;
    font-size: 18px;
    text-transform:  uppercase;
    font-weight: bold;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header{
    
    background: #1373e0;
}

nav{
    width: 100%;
    height: 200%;
    background: #10423e;
}
